  <po-toolbar p-title="Inside Squads"></po-toolbar>

  <po-page-dynamic-search p-title="Cadastro de Clientes" [p-filters]="[{ property: 'name' }]"
  
  > </po-page-dynamic-search>


  <!-- <po-page-dynamic-table
    p-title="Cadastro de Clientes"
    [p-actions]="actions"
    [p-page-custom-actions]="pageCustomActions"
    [p-table-custom-actions]="tableCustomActions"
    [p-fields]="fields"
    [p-service-api]="serviceApi"
    [p-quick-search-width]="quickSearchWidth"
    [p-load]="onLoad.bind(this)"
  >
  </po-page-dynamic-table> -->

  <!-- <po-modal #userDetailModal p-title="Detalhes do Cliente">
    <po-dynamic-view [p-fields]="detailFields" [p-value]="detailedUser">
    </po-dynamic-view>
  </po-modal>

  <po-modal #dependentsModal p-title="Dependents">
    <po-table [p-items]="dependents"> </po-table>
  </po-modal>

  <po-modal #chartModal p-title="Títulos por Cliente">
    <po-tabs>
      <po-tab p-label="Total de Títulos" [p-active]="true">
        <po-chart class="po-lg-12 po-mt-2" [p-series]="titulosTotais">
        </po-chart>
      </po-tab>
      <po-tab p-label="Fluxo de Pagamentos">
        <po-chart
          class="po-md-12 po-mt-2"
          [p-options]="chartAreaOptions"
          [p-categories]="chartAreaCategories"
          [p-series]="chartAreaSeries"
        >
        </po-chart>
      </po-tab>
    </po-tabs>
  </po-modal> -->


  <!-- <app-formulario></app-formulario> -->
  <!-- <div class="po-wrapper">
  <po-toolbar p-title="Inside Squads"></po-toolbar>

  <po-menu [p-menus]="menus" [p-filter]="true"> </po-menu>

  <div>
    <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
  </div>

  <po-page-default p-title="Teste JsToADVPL e ADVPLToJs">
    <po-button
      p-label="JsToADVPL"
      (p-click)="jsToAdvpl('Enviei uma Mensagem para o Alert do Protheus')"
    >
    </po-button>
    <po-button
      p-label="ADVPLToJs"
      (p-click)="advplToJs('Receberei um Alerta do Protheus')"
    >
    </po-button>
    <po-button
      p-label="Consulta de Produtos"
      (p-click)="jsToAdvplComObservables('SB1', 'B1_COD')"
    >
    </po-button>

    <po-button
      p-label="Consulta de Clientes"
      (p-click)="jsToAdvplComObservables('SA1', 'A1_COD')"
    >
    </po-button>

    <po-button
      p-label="Teste Errorlog"
      (p-click)="jsToAdvplComObservables('XXX', 'A1_COD')"
    >
    </po-button>

    <po-button
      p-label="Teste Errorlog"
      (p-click)="jsToAdvplComObservables('XXX', 'A1_COD')"
    >
    </po-button>
    <po-button
      p-label="Chama Outro App"
      (p-click)="chamaApp()"
    >
    </po-button>

    <p>Produto Selecionado:</p>
    {{ codigoDoProduto }}
    <p>Cliente Selecionado:</p>
    {{ codigoDoCliente }}

    <po-divider> </po-divider>

    <app-lookup></app-lookup>
  </po-page-default>
</div> -->
